/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2020, 10:38:39 PM
    Author     : Sanja Mijailovic
*/


*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    margin: 0;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.4rem;
    color:#2C2D3C;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2.6rem;
    letter-spacing: 0.54px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    color: #6DD1FF;
}
h1{
    font-size: 6rem;
    line-height: 8.4rem;
    letter-spacing: 1px;
}
h2{
    font-size: 4rem;
    line-height: 8.4rem;
    letter-spacing: 0.67px;
    text-transform: uppercase;
}
.img{
    max-width: 100%;
}
.clearfix:after{
    display: table;
    clear: both;
    content: '';
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.d-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.wrap{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.justify-start{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.justify-end{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.justify-center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.justify-between{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-around{
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.align-items-start{
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
align-items-end{
    -ms-flex-line-pack: end;
    align-content: flex-end;
}
.align-items-center{
    -ms-flex-line-pack: center;
    align-content: center;
}
.align-items-stretch{
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
.two-column{
    flex: 0 0 49%;
    -webkit-flex: 0 0 49%;
    -moz-flex: 0 0 24%;
    -ms-flex: 0 0 24%;
}

.four-column{
    flex: 0 0 24%;
    -webkit-flex: 0 0 24%;
    -moz-flex: 0 0 24%;
    -ms-flex: 0 0 24%;
}

/**header*/

header .main-menu{
    list-style: none;
    padding: 0;
}
header .main-menu li{
    margin-left: 68px;
}
header .main-menu a{
    display: block;
    padding: 25px 0px;
    color: #A8A8A8;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.53px;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
}
header .main-menu a.active,
header .main-menu a:hover{
    color: #1085EA;
}
header .main-menu li a:before{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1085EA;
    position: absolute;
    top: 0px;
    left: 0px;
}
header .main-menu li a.active:before,
header .main-menu li a:hover:before{
    width: 100%;
}
/* HOME SECTION*/
.home{
    padding: 211px 0 181px;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.home .home-content{
    flex: 0 0 calc(100%/2 - 30px/2);
    width: calc(100%/2 - 30px/2);
}    
.home .home-content h2{
    font-size: 6rem;
    letter-spacing: 1px;
    margin-bottom: 2.6rem;
}
.home .home-content p{
    letter-spacing: 0.57;
    margin-bottom: 32px;
}
.home .home-content a{
    border-radius: 22.5px;
    border-color: #0E9FE2;
    letter-spacing: 0.82px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.button{
    display: inline-block;
    padding: 10px 24px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(139.4deg,#1085EA 0%, #0E9FE2 100%);
    font-family: 'Anton', sans-serif;
    padding: 14px;
    color: #ffffff;

}
.home p{
    margin-bottom: 32px;
}
/*ABOUT START*/
.about{
    padding: 150px 0;
    position: relative;
    background-repeat: no-repeat;
}
.about .about-content{
    flex: 0 0 46%;
    -webkit-flex: 0 0 46%;
    -moz-flex: 0 0 46;
    -ms-flex: 0 0 46%;
}
.about > img{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%
}
.about .about-content p{
    margin-bottom: 20px;
}

/*SERVICES START*/

.services{
    padding: 50px 0;
    text-align: center;
}
.services h2{
    margin-bottom: 65px;
}
.services-item h4{
    color: #1085EA;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.71px;
    text-transform: uppercase;
}

.services .services-item .services-web{
    list-style: none;
    padding: 0;
}

/*PORTFOLIO*/

.portfolio{
    padding: 80px 0;
    text-align: center;
}
.portfolio h2{
    margin-bottom: 32px;
}
.portfolio .portfolio-item img{
    display: block;
    width: 100%;
}
.portfolio .portfolio-item{
    position: relative;
}
.portfolio .portfolio-item .button{
    position: absolute;
    bottom: 30px;
    background: linear-gradient(139.4deg, #1085EA 0%, #0E9FE2 100%);
    left: 50%;
    transform: translateX(-50%);
}

/*FOOTER*/
footer{
    padding: 18px 0 23px;
}